html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.submit-button{
  padding-top: 10px;
  margin-left: 164px;
}
#address
{
  width: 438px;
}
#city
{
  width: 438px;
}
#street
{
  width: 438px;
}
#house
{
  width: 438px;
}
#flat
{
  width: 438px;
}
#FIO_owner
{
  width: 438px;
}