@page
@model TestTask1.Pages.Addresses.Add
@{
    ViewData["Title"] = "Добавить новый адрес";
    var localData = new GameDataModel().GetData();
}

<form method="post">
    <h1 class="mb-3">@ViewData["Title"]</h1>
    <div class="container">
        <h3>Add Customer</h3>
            <label>Адрес:</label><br />
            <ejs-autocomplete id="dirtyAddress" dataSource="@localData" highlight="true" autofill="true"
            placeholder="Select a name" popupHeight="400px" popupWidth="250px">
                <e-autocomplete-fields value="Name"></e-autocomplete-fields>
            </ejs-autocomplete>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
    </div>
</form>
