@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Список городов</h2>
<p><a href="/Create">Добавить горожд</a></p>
<table>
    <tr><th>Имя</th><th>Возраст</th></tr>
    @foreach (var city in Model.Cities)
    {
        <tr><td>@city.ToString()</td></tr>
    }
</table>
